body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
}
iframe {
  width: 854px;
  height: 480px;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
}

/* title */
.title_main {
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
/* camera */
.camera-main {
  width: 1280px;
  height: auto;
  transform: 100%;
  border-radius: 1cm;
  box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.31);

}
.camera-div{
  margin-top: 10%;
}

/*button */
.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.start-btn {
  flex-grow: 1;
  margin: 0 5px;
}
#toggle_camera {
  flex-grow: 2;
}
.control-btn {
  appearance: button;
  background-color: #294B29;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Prompt", sans-serif;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  margin-right: 10px;
}
.control-btn:after {
  background-clip: padding-box;
  background-color: #50623A;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.control-btn:main,
.start-btn:focus {
  user-select: auto;
}

.control-btn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.control-btn:disabled {
  cursor: pointer;
}

.control-btn:active {
  border-width: 4px 0 0;
  background: none;
}
/* --------------- */
.start-btn {
  appearance: button;
  background-color: #294B29;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Prompt", sans-serif;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.start-btn:after {
  background-clip: padding-box;
  background-color: #50623A;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.start-btn:main,
.start-btn:focus {
  user-select: auto;
}

.start-btn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.start-btn:disabled {
  cursor: pointer;
}

.start-btn:active {
  border-width: 4px 0 0;
  background-color: #294B29;
  background: none;
}
.back-btn-mobile {
  display: none;
}
.finished span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.finished span:after {
  content: '\2714';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.finished:hover span {
  padding-right: 25px;
}

.finished:hover span:after {
  opacity: 1;
  right: 0;
}

 
.previous span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.previous span:after {
  content: '\00AB';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.previous:hover span {
  padding-left: 25px;
}

.previous:hover span:after {
  opacity: 1;
  left: 0;
}

/* ----------------- */
.next span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.next span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.next:hover span {
  padding-right: 25px;
}

.next:hover span:after {
  opacity: 1;
  right: 0;
}

.popup-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.tutorial-btn {
  font-family: "Prompt", sans-serif;
  position: relative;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background-color: #294B29;
  transition: all 0.2s ease;
}
.tutorial-btn:active {
  transform: scale(0.9);
}
.tutorial-btn:before,
.tutorial-btn:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
.tutorial-btn:before {
  top: -70%;
  background-image: radial-gradient(circle, #294B29 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #294B29 20%, transparent 30%),
    radial-gradient(circle, #294B29 20%, transparent 20%),
    radial-gradient(circle, #294B29 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #294B29 15%, transparent 20%),
    radial-gradient(circle, #294B29 20%, transparent 20%),
    radial-gradient(circle, #294B29 20%, transparent 20%),
    radial-gradient(circle, #294B29 20%, transparent 20%),
    radial-gradient(circle, #294B29 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: orangeTopBubbles 0.6s ease;
}

@keyframes orangeTopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.tutorial-btn:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #294B29 20%, transparent 20%),
    radial-gradient(circle, #294B29 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #294B29 15%, transparent 20%),
    radial-gradient(circle, #294B29 20%, transparent 20%),
    radial-gradient(circle, #294B29 20%, transparent 20%),
    radial-gradient(circle, #294B29 20%, transparent 20%),
    radial-gradient(circle, #294B29 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: orangeBottomBubbles 0.6s ease;
}

@keyframes orangeBottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
/* Fullscreen Button */
.fullscreen-btn {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 0%;
  font-size: 26px;
  cursor: pointer;
}
.fullscreen-btn :hover {
  color: #656565;
}
.fullscreen-div{
  margin-top: 2%;
}

/* back button  */
/* .back-btn {
  color: #FFFFFF;
  
} */
.back-btn {
  background-color: #789461;
  border: 2px solid #294B29;
  border-radius: 30px;
  box-shadow: #294B29 4px 4px 0 0;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(20%, 40%);
  font-size: 30px;
  cursor: pointer;
  font-family: "Prompt", sans-serif;
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.back-btn:hover {
  background-color: #fff;
  color: black;
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.back-btn:active {
  box-shadow: #294B29 2px 2px 0 0;
  /* transform: translate(1px, 1px); */
}

.video {
  width: 100%;
  height: 400px;
  margin: auto;
  display: block;
  border: none;
}
.close-btn {
  display: block;
  margin: 20px auto;
  margin-bottom: 40px;
  cursor: pointer; 
  padding: 9px 12px;
  gap: 8px;
  border: none;
  background: #FF2849;
  border-radius: 20px;
  cursor: pointer;
}
.close-btn span {
  line-height: 22px;
  letter-spacing: 1px;
  font-size: 20px;
  color: #fff;
  font-family: "Prompt", sans-serif;
  letter-spacing: 1px;
}
.close-btn:hover {
  background: #e52441;
}

.close-btn:hover .svg-icon {
  animation: flickering 2s linear infinite;
}


.video-popup {
  display: none;
  border-radius: 10px;
  width: 100%;
  height: 100vh;
  margin: auto;
  position: fixed;
  top: 0;
  box-shadow: 10px 10px 10px 10px black;
}
.popup-bg {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
}
.popup-content {
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: auto;
}
.popup-title {
  padding: 30px;
  margin: 0 auto;
  color: red;
  text-transform: uppercase;
}


/* responsive */
  @media (max-width: 1024px) {
    .title_main {
      font-size: 23px;
    }
    .camera-main{
      width: 100vw;
      border-radius: 0cm;
      box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.31);
    }
    .tutorial-btn {
      padding: 10px 30px;
    }
    .back-btn {
      display: none;
    }
    .back-btn-mobile {
      display: contents;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding-top: 20%;
      color: #515151;
      font-size: 20px;
    }
    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      gap: 10px;
    }
    .btn-container {
      display: grid;
      justify-content: center;
      align-items: center;
    }
    .start-btn{
      margin-left: 0px;
      margin-right: 0px;
      font-size: 18px;
      padding: 7px 8px;
      margin: 0;
    }
    .control-btn {
      font-size: 18px;
      padding: 7px 8px;
    }
    .fullscreen-btn {
      display: contents;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding-top: 20%;
      font-size: 18px;
      
    }
    .fullscreen-div{
      margin-top: 5%;
    }
    iframe {
      width: 352px;
      height: 288px;
    }
  }

  @media (max-width: 374px) {
    .title_main {
      font-size: 23px;
    }
    .camera-main{
      transform: translateY(-90%);
      border-radius: 0;
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.31);
      width: fit-content;
      height: fit-content;
    }
    .back-btn {
      display: none;
    }
    .btn-container {
      display: grid;
      justify-content: center;
      align-items: center;
    }
    .start-btn{
      margin-left: 0px;
      margin-right: 0px;
      font-size: 18px;
      padding: 7px 8px;
      margin: 0;
    }
    .control-btn {
      font-size: 18px;
      padding: 7px 8px;
    }
    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      gap: 10px;
    }
    .fullscreen-btn {
      display: contents;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding-top: 20%;
    }
    .fullscreen-div{
      margin-top: 5%;
    }
  }
  
  @keyframes flickering {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 1;
    }
  
    52% {
      opacity: 1;
    }
  
    54% {
      opacity: 0;
    }
  
    56% {
      opacity: 1;
    }
  
    90% {
      opacity: 1;
    }
  
    92% {
      opacity: 0;
    }
  
    94% {
      opacity: 1;
    }
  
    96% {
      opacity: 0;
    }
  
    98% {
      opacity: 1;
    }
  
    99% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }