body {
  margin: 0;
  padding: 0;
  background-image: url(../img/bg-cert.jpg);
  background-size: 0%;
  background-position: center;
  background-repeat: repeat;
}

.title-head {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 50%;
    left: 50%;
    margin-top: 30px;
}

.give {
  display: flex;
  align-items: center;
  justify-content: center;

}
/* Popup container */
.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Popup content */
.popup-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
}

  
.canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  border-top: 5px;
  border-color: #294B29;
  border-style:solid;
  padding-top: 25px;
}
canvas {
  border-radius: 10px;
  box-shadow: 3px 2px 8px 3px rgba(0, 0, 0, 0.09);
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  --input-focus: #2d8cf0;
  --font-color: #294B29;
  --font-color-sub: #50623A;
  --bg-color: #fff;
  --main-color: #294B29;
  padding: 20px;
  background: #DBE7C9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  max-width: 400px; /* Optional: กำหนดความกว้างสูงสุดของแบบฟอร์ม */
  width: 100%;
}

.title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 25px;
}

.title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 30px;
}

.input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}

.login-with {
  display: flex;
  gap: 20px;
}

.button-log {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.button-log:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.button-confirm {
  margin: 50px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}
.button {
  padding: 0.8rem 4rem;
  border: 5px;
  border-color: #294B29;
  outline: none;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.953);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.button .text {
  position: absolute;
  left: 1.8rem;
  top: 1.3rem;
  transition: 0.4s ease-in-out;
  color: rgb(50, 50, 50);
}

.svg {
  transform: translateY(-20px) rotate(30deg);
  opacity: 0;
  width: 2rem;
  transition: 0.4s ease-in-out;
}

.button:hover {
  background-color: #294B29;
}

.button:hover .svg {
  display: inline-block;
  transform: translateY(0px) rotate(0deg);
  opacity: 1;
}

.button:hover .text {
  opacity: 0;
}

.button:active {
  scale: 0.97;
}
.button-download {
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0%;
}
.button-back {
  font-size: 20px;
  padding: 1em 2em;
  font-weight: 500;
  background: #294B29;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
  cursor: pointer;
}




.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: #789461;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 14em;
  height: 14em;
}

button:active {
  transform: scale(0.97);
}

.file {
    display: none;
}
.input-label {
  color: #ffffff;
  background-color: #50623A;
  padding: 10px;

}


