@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: "Prompt", sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #DBE7C9; */
    background-image: url(/static/img/bg-draw3.png);
    /* background: radial-gradient(#4f46e4 15%, transparent 16%), repeating-linear-gradient(0deg, transparent 6.5%, #ffffff 7%, #ffffff 9%, transparent 10%), linear-gradient(45deg, transparent 49%, #4f46e4 49%, #4f46e4 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #4f46e4 49%, #4f46e4 51%, transparent 51%);
        background-size: 3em 3em;
        background-color: #ffffff; */
       

}

#canvasContainer {
    display: none;
    position: relative;
    margin-right: 20px;
}

#canvas {
    border: 10px solid #42949f;
    width: 1280px;
    height: 720px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);
    cursor: url('/static/img/cursor/pen.svg'), auto;
}

#tools {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.37);
}

#tools button {
    margin-bottom: 10px;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.button-tools {
  
}

#tools p {
    color: aliceblue;
    font-size: 20px;
}
#colorPicker {
    margin-bottom: 10px;
}
/* .free-draw {
    display: flex;
} */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-lg-3 {
    flex: 0 0 calc(25% - 10px); /* หรือความกว้างที่คุณต้องการ */
    margin-right: 10px; /* ระยะห่างระหว่างคอลัมน์ */
    margin-bottom: 10px; /* ระยะห่างด้านล่างของคอลัมน์ */
    
}

.col-lg-3:last-child {
    margin-right: 0; /* ไม่มีระยะห่างด้านขวาสุด */
}

.card-btn {
    background: none;
    border: none;
}

.box1 {
  background-image:url(../img/banner-drawing/banner-draw.png) ;
  background-size: cover;
} 
.box2 {
  background-image:url(../img/banner-drawing/banner-paint.png) ;
  background-size: cover;
} 

.card_box {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 25px 50px rgba(0,0,0,0.55);
    cursor: pointer;
    transition: all .3s;
    margin-right: 15px;
  }
  
  .card_box:hover {
    transform: scale(0.9);
  }
  
  .card_box span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  

  

  @media (max-width: 414px) or (max-width: 375px) {
    .container {
      margin-top: 150px;
      top: 10%;
      left: 10%;
      transform: translate(10%, 10%);
    }
    
  }
  @media (max-width: 1180px) {
    .container {
      top: 50%;
      left: 50%;
      transform: translate(15%, 0%);
    }
    
  }

  .select_paint {
    display: none;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Prompt", sans-serif;
  }
  .input-container {
    position: relative;
    width: max-content;
    margin: 0 auto;
}

#input {
    width: 350px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-container svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

#input:focus {
    opacity: 1;
    width: 550px;
}

#input::placeholder {
    font-size: 20px;
    opacity: 0.5;
}

  
  .gallery_title {
    text-align: center;
    padding-bottom: 1rem;
  }
  
  .gallery {
    box-shadow: 0 0.1rem 0 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: grid;
    max-width: 780px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 180px;
    grid-gap: 20px;
    padding-bottom: 70px;
  }
  
  .gallery .item {
    max-width: 180px;
    height: 180px;
    margin: 0 auto;
    cursor: pointer;
    filter: grayscale(40%);
  }
  
  .gallery .item:hover {
    filter: none;
    transition: 0.3s ease-out;
    transform: scale(1.06);
  }
  
  img {
    max-width: 180px;
    height: 70%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
      rgba(0, 0, 0, 0.5) 0px 2px 15px 0px;
  }
  
  @media screen and (max-width: 480px) {
    input::placeholder {
      font-size: 13px;
    }
  }
  .select_paint {
    width: 50%;
    height: 50%;
    background-image: linear-gradient(#ffffff 1.1rem, #ccc 1.2rem);
    background-size: 100% 1.2rem;
    border-radius: 22px;
  }


  .slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .item img {
    vertical-align: middle;
    border-style: none;
    margin: 20px;
  }
  
  .caption {
    color: #fff;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .button-slide {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top:20px ;
    margin-bottom:20px ;
    
    /* cursor: pointer; */
  }

  .btn-home{
    background: #4D9FAD;
    color: white;
    padding: 0.45em;
    padding-left: 3em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    cursor: pointer;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #274849;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    margin: 30px;
    height: 2.8em;
    padding-right: 1em;
  }
  
  .iconButton {
    margin-right: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #274849;
    left: 0.3em;
    transition: all 0.3s;
  }
  
  .btn-home:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #235051;
  }
  
  .btn-home:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #1c5355;
  }
  
  /*------ Settings ------*/
.sound-check{
  --color: #fff;
  --size: 40px;
  position: fixed;
  top: 30px;
  right: 100px;
  
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.sound-check .mute {
  position: absolute;
  animation: keyframes-fill .5s;
}

.sound-check .voice {
  position: absolute;
  display: none;
  animation: keyframes-fill .5s;
}

/* ------ On check event ------ */
.sound-check input:checked ~ .mute {
  display: none;
}

.sound-check input:checked ~ .voice {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.sound-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }

  50% {
    transform: rotate(-10deg) scale(1.2);
  }
}
   
   ::selection {
    background: #284A49;
    color: #fff;
  }   
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next, .text {font-size: 11px}
  }


  