body {
  background-color: #000;
  /* background-image: url(../img/bg-count-game.jpg); */
}
.overlay-btn {
    position: absolute;
    top: 20px; 
    right: 20px;
    z-index: 1000; /* ให้ปุ่มอยู่ด้านบนสุด */
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .overlay-btn h5 {
    margin: 0;
    color: #000;
    font-size: 16px;
  }
  .button-tutorail {
    padding: 9px 15px;
    gap: 8px;
    border: none;
    background: #50623A;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .button-tutorail span{
    line-height: 30px;
    font-size: 20px;
    color: #fff;
    font-family: "Prompt", sans-serif;
    letter-spacing: 1px;
  }
  
  .button-tutorail:hover {
    background: #3d4b2c;
  }
.popup-content {
  z-index: 9999;
  border-radius: 30px;
  padding-left:20px ;
  padding-right:20px ;
}
.image-popup {
  padding-top: 50px;
}
.text-popup {
  color: #fff;
  margin-top: 20px;
}
.text-popup:hover {
  color: #fff;
}