body {
  font-family: "Prompt", sans-serif;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  --dot-bg: rgb(0, 0, 0);
  --dot-color: rgb(255, 255, 255);
  --dot-size: 1px;
  --dot-space: 62px;
 background-color: var(--dot-bg);
  position: relative;
  overflow: hidden;
}
.dot {
  position: absolute;
  width: var(--dot-size);
  height: var(--dot-size);
  background-color: var(--dot-color);
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.2s, top 0.2s, left 0.2s;
}
#container {
  display: none;
  text-align: center; /* Center align text */
}
#text {
    font-family: "Prompt", sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
  }
  #score {
    display: none;
    font-size: 30px;
    text-align: center; /* Center align text */
}
  #startButton {
  font-family: "Prompt", sans-serif;
  position: relative;
  background: transparent;
  
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#startButton:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

#startButton:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

#startButton:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

#startButton:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

#startButton:focus:not(:focus-visible) {
  outline: none;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: hsl(226, 25%, 69%);
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    rgb(202, 135, 135) 0%,
    rgb(210, 111, 111) 8%,
    rgb(202, 96, 96) 92%,
    rgb(199, 88, 88) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: rgb(202, 135, 135);
  padding: 16px 32px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 30px;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 99999;
}
.border-center {
  background-color: white;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 6px rgba(255, 255, 255, 0.6);
}
.header {
  display: grid;
  place-items: center;
  height: 100vh;
}   
.title {
  font-size: 50px;
}
.incorrect {
  font-family: "Prompt", sans-serif;
  font-weight: bold;
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    font-size: 30px;
    transition: all 0.3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
  
  .incorrect:hover {
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
  }
  
  .incorrect:active {
    background-color: rgb(255, 56, 86);
    /*50, 168, 80*/
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
  }



.correct {
  font-family: "Prompt", sans-serif;
  font-weight: bold;
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: #739072;
    letter-spacing: 1.5px;
    font-size: 30px;
    transition: all 0.3s ease;
    box-shadow: #4F6F52 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
  
  .correct:hover {
    box-shadow: #4F6F52 0px 7px 0px 0px;
  }
  
  .correct:active {
    background-color: #739072;
    /*50, 168, 80*/
    box-shadow: #4F6F52 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
  }
  #time {
    font-size: 20px;
  }
  #restart-btn {
    display: none;
  }
  /* popup */
  .box {
    width: 50%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 0px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  .box-tutorial {
    width: 50%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 40px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 22px;
    font-weight: 400px;
    padding: 10px;
    color: #000000;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: rgb(202, 135, 135);
    color: #fff;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
  }
  .popup .close {
    position: absolute;
    top: 4px;
    right: 30px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: rgb(210, 111, 111);
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    /* padding: auto; */
  }
  ::selection {
    background-color: #000000;
    color: #fff;
  }
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }