<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/camera.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animated.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/countdown.css') }}"> -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon_io/favicon.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <title>ห้องออกกำลังกาย</title>
</head>
<!-- Responcive function  -->

<body>
    <header class="header-area wow slideInDown bar-top" data-wow-duration="0.75s" data-wow-delay="0s" id="nav-bar-top">
        <div class="container-nav">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        {% if queue == 1 %}
                        <h1 class="title_main">ห้องออกกำลังกาย - ท่าจีบแอล </h1>
                        {% elif queue == 2 %}
                        <h1 class="title_main">ห้องออกกำลังกาย - ท่าโป้งก้อย </h1>
                        {% elif queue == 3 %}
                        <h1 class="title_main">ห้องออกกำลังกาย - ท่าบริหารปุ่มขมับ </h1>
                        {% elif queue == 4 %}
                        <h1 class="title_main">ห้องออกกำลังกาย - ท่าสลับจับหู </h1>
                        {% elif queue == 5 %}
                        <h1 class="title_main">ห้องออกกำลังกาย - ท่าบริหารปุ่มสมอง </h1>
                        {% endif %}
                        <div>
                            <form action="/">
                                <button class="back-btn">
                                    กลับหน้าหลัก
                                </button>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
    </div>
    <div class="camera-div">
        {% if queue == 1 %}
        <img id="fullscreen-cam" class="camera-main wow slideInDown" data-wow-duration="1s" data-wow-delay="0s"
            src="{{ url_for('static', filename='img/jib-cover2.jpg') }}">
        {% elif queue == 2 %}
        <img id="fullscreen-cam" class="camera-main wow slideInDown" data-wow-duration="1s" data-wow-delay="0s"
            src="{{ url_for('static', filename='img/thumb-cover2.jpg') }}">
        {% else %}
        <img id="fullscreen-cam" class="camera-main wow slideInDown" data-wow-duration="1s" data-wow-delay="0s"
            src="{{ url_for('static', filename='img/pre-fitness-test.jpg') }}">
        {% endif %}
    </div>
    <audio id="bellSound" src="{{ url_for('static', filename='sound/bell.mp3') }}"></audio>
    <div>
        <div class="btn-container">
            {% if queue == 1 %}
            <!-- <form action="/fitness">
                <button class="control-btn wow slideInUp previous">
                    <span>
                        ถอยกลับ
                    </span>
                </button>
            </form> -->
            <button id="toggle_camera" onclick="toggleCamera()" class="start-btn center_1 wow slideInUp"
                data-wow-duration="1s" data-wow-delay="0s">
                <h4>เริ่มออกกำลังกาย</h4>
            </button>
            <form action="/fitness2">
                <button class="control-btn wow slideInUp next">
                    <span>
                        &nbsp;&nbsp;ต่อไป&nbsp;&nbsp;
                    </span>
                </button>
            </form>

            {% elif queue == 2 %}
            <form action="/fitness">
                <button class="control-btn wow slideInUp previous">
                    <span>
                        ถอยกลับ
                    </span>
                </button>
            </form>
            <button id="toggle_camera" onclick="toggleCamera()" class="start-btn center_1 wow slideInUp"
                data-wow-duration="1s" data-wow-delay="0s">
                <h4>เริ่มออกกำลังกาย</h4>
            </button>
            <form action="/fitness3">
                <button class="control-btn wow slideInUp next">
                    <span>
                        &nbsp;&nbsp;ต่อไป&nbsp;&nbsp;
                    </span>
                </button>
            </form>
            {% elif queue == 3 %}
            <form action="/fitness2">
                <button class="control-btn wow slideInUp previous">
                    <span>
                        ถอยกลับ
                    </span>
                </button>
            </form>
            <button id="toggle_camera" onclick="toggleCamera(); playSound('../static/sound/relax.mp3')" class="start-btn center_1 wow slideInUp"
                data-wow-duration="1s" data-wow-delay="0s">
                <h4>เริ่มออกกำลังกาย</h4>
            </button>
            <form action="/fitness4">
                <button class="control-btn wow slideInUp next">
                    <span>
                        &nbsp;&nbsp;ต่อไป&nbsp;&nbsp;
                    </span>
                </button>
            </form>
            {% elif queue == 4 %}
            <form action="/fitness3">
                <button class="control-btn wow slideInUp previous">
                    <span>
                        ถอยกลับ
                    </span>
                </button>
            </form>
            <button id="toggle_camera" onclick="toggleCamera();" class="start-btn center_1 wow slideInUp"
                data-wow-duration="1s" data-wow-delay="0s">
                <h4>เริ่มออกกำลังกาย</h4>
            </button>
            <form action="/fitness5">
                <button class="control-btn wow slideInUp next">
                    <span>
                        &nbsp;&nbsp;ต่อไป&nbsp;&nbsp;
                    </span>
                </button>
            </form>
            {% elif queue == 5 %}
            <form action="/fitness5">
                <button class="control-btn wow slideInUp previous">
                    <span>
                        ถอยกลับ
                    </span>
                </button>
            </form>
            <button id="toggle_camera" onclick="toggleCamera()" class="start-btn center_1 wow slideInUp"
                data-wow-duration="1s" data-wow-delay="0s">
                <h4>เริ่มออกกำลังกาย</h4>
            </button>
            <form action="/certificate">
                <button class="control-btn wow slideInUp finished">
                    <span>
                        &nbsp;&nbsp;เสร็จสิ้น&nbsp;&nbsp;
                    </span>
                </button>
            </form>
            {% endif %}
        </div>
        <br>
        <div class="popup-div">
            <button class="wow slideInUp tutorial-btn popup-btn">วิดีโอสาธิตการออกกำลังกาย</button>
            <div class="video-popup">
                <div class="popup-bg"></div>
                  <div class="popup-content">
                    <!-- <p class="popup-title">Youtube</p> -->
                    <iframe class="video"src="https://www.youtube.com/embed/nle669DiIO8?si=iXo_Fjpy27D1GslT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <button class="close-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" style="color: white;">
                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                        </svg>
                        <span class="label" style="color: white;">ปิดหน้าต่าง</span>
                      </button>
                  </div>
              </div>
        </div>
        <form action="">
            <div class="fullscreen-div">
                <a class="fullscreen-btn" onclick="toggleFullscreen()">
                    <h5>เข้าสู่เต็มจอ</h5>
                </a>
                <div class="fullscreen-div">
                    <form action="/">
                        <a href="/" class="back-btn-mobile">
                            <h5>กลับหน้าหลัก</h5>
                        </a>
                    </form>
                </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/time_countdown.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/fullscreen.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/animation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imagesloaded.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sound.js') }}"></script>
</body>

</html>