<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ผ่อนคลายวาดรูป</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/drawing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animated.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='img/favicon_io/favicon.ico') }}" type="image/x-icon">


</head>

<body>
    <script>
        var audio = new Audio('{{ sound_file_url }}');
        audio.loop = true;
        window.onload = function () {
            console.log("Page loaded. Playing audio...");
            audio.play().then(function () {
                console.log("Audio played successfully!");
            }).catch(function (error) {
                console.error("Error playing audio:", error);
            });
        };
    </script>

    <div class="container" id="card-container">
        <div>
            <button class="btn-home">
                <div class="iconButton">
                    <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12.828 13l5.364 5.364-1.414 1.414L4 12l7.778-7.778 1.414 1.414L7.828 11H20v2z"
                            fill="currentColor"></path>
                    </svg>
                </div>
                กลับหน้าหลัก
            </button>

        </div>
        <div class="row wow slideInUp bar-top" data-wow-duration="1s" data-wow-delay="0s">
            <div class="col-lg-3 mb-3">
                <button class="card-btn" id="card-btn-draw" onclick="select_draw(); draw_select_bg(); return false;">
                    <div class="card_box box1">
                    </div>
                </button>
            </div>
            <div class="col-lg-3 mb-3">
                <button class="card-btn" id="card-btn-paint" onclick="select_paint()">
                    <div class="card_box box2">
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div class="select_paint" id="select_paint">
        <div>
            <button class="btn-home" onclick="back_menu_gellery()">
                <div class="iconButton">
                    <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12.828 13l5.364 5.364-1.414 1.414L4 12l7.778-7.778 1.414 1.414L7.828 11H20v2z"
                            fill="currentColor"></path>
                    </svg>
                </div>
                กลับเมนู
            </button>

        </div>
        <main>
            <div class="input-container">
                <input type="text" placeholder="ค้นหารูปภาพ" name="text" class="input" id='input'>
                <svg fill="#000000" width="20px" height="20px" viewBox="0 0 1920 1920"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M790.588 1468.235c-373.722 0-677.647-303.924-677.647-677.647 0-373.722 303.925-677.647 677.647-677.647 373.723 0 677.647 303.925 677.647 677.647 0 373.723-303.924 677.647-677.647 677.647Zm596.781-160.715c120.396-138.692 193.807-319.285 193.807-516.932C1581.176 354.748 1226.428 0 790.588 0S0 354.748 0 790.588s354.748 790.588 790.588 790.588c197.647 0 378.24-73.411 516.932-193.807l516.028 516.142 79.963-79.963-516.142-516.028Z"
                        fill-rule="evenodd"></path>
                </svg>
            </div>

            <div class="gallery_title">
                <h1>รูปภาพแนะนำ</h1>
            </div>

            <article class='gallery'>
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(1); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint1.png') }}" alt="first image">
                        </a>
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(1); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint1.png') }}" alt="first image">
                        </a>
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(1); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint1.png') }}" alt="first image">
                        </a>
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(1); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint1.png') }}" alt="first image">
                        </a>
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(1); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint1.png') }}" alt="first image">
                        </a>
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(1); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint1.png') }}" alt="first image">
                        </a>

                    </div>
                    <div class="mySlides fade">
                        <a href="#"
                            data-caption='The great thing asdasd about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(2); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint2.png') }}" alt="second image">
                        </a>
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(2); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint2.png') }}" alt="second image">
                        </a>
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(2); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint2.png') }}" alt="second image">
                        </a>
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(2); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint2.png') }}" alt="second image">
                        </a>
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(2); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint2.png') }}" alt="second image">
                        </a>
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(2); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint2.png') }}" alt="second image">
                        </a>
                    </div>
                    <div class="mySlides fade">
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(3); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint3.png') }}" alt="third image">
                        </a>
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(3); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint3.png') }}" alt="third image">
                        </a>
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(3); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint3.png') }}" alt="third image">
                        </a>
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(3); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint3.png') }}" alt="third image">
                        </a>
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(3); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint3.png') }}" alt="third image">
                        </a>
                        <a href="#"
                            data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.'
                            class='item' title='Hay Bales' onclick="paint_select(3); gallery_select()">
                            <img src="{{ url_for('static', filename='img/paint/paint3.png') }}" alt="third image">
                        </a>
                    </div>

                    <!-- Navigation buttons -->
                    <div class="button-slide">
                        <div>
                            <a class="prev" onclick="plusSlides(-1)">ถอยกลับ</a>
                        </div>
                        <div>
                            <a class="next" onclick="plusSlides(1)">ต่อไป</a>
                        </div>
                    </div>
                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>
                </div>

            </article>
        </main>

    </div>

    <div id="canvasContainer">
        <div>
            <button class="btn-home" onclick="back_menu()">
                <div class="iconButton">
                    <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12.828 13l5.364 5.364-1.414 1.414L4 12l7.778-7.778 1.414 1.414L7.828 11H20v2z"
                            fill="currentColor"></path>
                    </svg>
                </div>
                กลับเมนู
            </button>
        </div>
        <canvas id="canvas" width="1280" height="720" class="wow slideInUp" data-wow-duration="1s"
            data-wow-delay="0s"></canvas>
    </div>
    <div id="tools" class="wow slideInRight" data-wow-duration="1s" data-wow-delay="0s">
        <button onclick="setColor('#000000')" style="background-color: #000000;"></button>
        <button onclick="setColor('#FF0000')" style="background-color: #FF0000;"></button>
        <button onclick="setColor('#0000FF')" style="background-color: #0000FF;"></button>
        <button onclick="setColor('#FFFF00')" style="background-color: #FFFF00;"></button>
        <button onclick="setColor('#00FF00')" style="background-color: #00FF00;"></button>
        <input type="color" id="colorPicker">
        <button onclick="erase()" id="eraser">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eraser-fill"
                viewBox="0 0 16 16">
                <path
                    d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z" />
            </svg>
        </button>
        <p>ขนาดแปรง</p>
        <input type="range" id="brushSize" min="1" max="50" value="5">
        <p>ความโปร่งใส</p>
        <input type="range" id="opacity" min="0" max="1" step="0.1" value="1">
        <button onclick="undo()" class="button-tools">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-reply-fill"
                viewBox="0 0 16 16">
                <path
                    d="M5.921 11.9 1.353 8.62a.72.72 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
            </svg>
        </button>
        <button onclick="clearCanvas()" class="button-tools">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z" />
                <path
                    d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466" />
            </svg>
        </button>
        <button onclick="downloadCanvas()" class="button-tools">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-download"
                viewBox="0 0 16 16">
                <path
                    d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                <path
                    d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
            </svg>
        </button>
        <!-- <input type="file" id="imageLoader" accept="image/*"> -->
    </div>
    <script src="{{ url_for('static', filename='js/game/menu-drawing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/game/drawing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/animation.js') }}"></script>

</body>

</html>