<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ผ่อนคลายวาดรูป</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/drawing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animated.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon_io/favicon.ico') }}" type="image/x-icon">
    

</head>

<body>
    <div class="container" id="card-container">
        <div class="row wow slideInUp bar-top" data-wow-duration="1s" data-wow-delay="0s">
            <div class="col-lg-3 mb-3">
                <button class="card-btn" id="card-btn-draw" onclick="select_draw()">
                    <div class="card_box box1">
                    </div>
                </button>
            </div>
            <div class="col-lg-3 mb-3">
                <button class="card-btn" id="card-btn-paint" onclick="select_paint()">
                    <div class="card_box box3">
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="select_paint" id="select_paint">
        <main>
            <div class="input-container">
                <input type="text" placeholder='ลองค้นหา ปลา, ต้นไม้, บ้าน...' id='input'>
            </div>
            
            <div class="gallery_title">
                <h1>รูปภาพแนะนำ</h1>
            </div>
            
            <article class='gallery'>
                <a href="" data-caption='The great thing about reaching the top of the mountain is realising that there’s space for more than one person. And you’re now in the prime position to help others up.' class='item' title='Hay Bales'>
                    <img src="https://images.pexels.com/photos/2356059/pexels-photo-2356059.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="first image">
                </a>
                <a href="" data-caption='A lake is a landscape’s most beautiful and expressive feature. It is Earth’s eye; looking into which the beholder measures the depth of his own nature.' class='item' title='Lake'>
                    <img src="https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="second image">
                </a>
                <a href="" data-caption='The human desire to obtain more is a sieve that can never be filled with all the water from the world’s oceans' title='Canyon' class='item'>
                    <img src="https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="third image">
                </a>
                <a href="" data-caption="Knowing trees, I understand the meaning of patience. Knowing grass, I can appreciate persistence." title='Iceberg' class='item'>
                    <img src="https://images.pexels.com/photos/20045/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="fourth image">
                </a>
                <a href="" data-caption="Life is like a train track, full of possibilities and happiness" title='Desert' class='item'>
              <img src="https://images.pexels.com/photos/6004828/pexels-photo-6004828.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="fifth image">
            </a>
            <a href="" data-caption='Hell is a swamp, to me - not as something fiery, but as something dank, moist, and wet' title='Fall' class='item'>
                <img src="https://images.pexels.com/photos/1533060/pexels-photo-1533060.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="sixth image">
            </a>
            <a href="" data-caption="Knowing trees, I understand the meaning of patience. Knowing grass, I can appreciate persistence." title='Iceberg' class='item'>
                <img src="https://images.pexels.com/photos/20045/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="fourth image">
            </a>
            <a href="" data-caption='A lake is a landscape’s most beautiful and expressive feature. It is Earth’s eye; looking into which the beholder measures the depth of his own nature.' class='item' title='Lake'>
                <img src="https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="second image">
            </a>
        </article>
    </main>
        
    </div>
    
    <div id="canvasContainer">
        <canvas id="canvas" width="1280" height="720" class="wow slideInUp" data-wow-duration="1s"
            data-wow-delay="0s"></canvas>
    </div>
    <div id="tools" class="wow slideInRight" data-wow-duration="1s" data-wow-delay="0s">
        <button onclick="setColor('#000000')" style="background-color: #000000;"></button>
        <button onclick="setColor('#FF0000')" style="background-color: #FF0000;"></button>
        <button onclick="setColor('#0000FF')" style="background-color: #0000FF;"></button>
        <button onclick="setColor('#FFFF00')" style="background-color: #FFFF00;"></button>
        <button onclick="setColor('#00FF00')" style="background-color: #00FF00;"></button>
        <input type="color" id="colorPicker">
        <button onclick="erase()" id="eraser">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eraser-fill"
                viewBox="0 0 16 16">
                <path
                    d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z" />
            </svg>
        </button>
        <p>ขนาดแปรง</p>
        <input type="range" id="brushSize" min="1" max="50" value="5">
        <p>ความโปร่งใส</p>
        <input type="range" id="opacity" min="0" max="1" step="0.1" value="1">
        <button onclick="undo()" class="button-tools">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-reply-fill"
                viewBox="0 0 16 16">
                <path
                    d="M5.921 11.9 1.353 8.62a.72.72 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
            </svg>
        </button>
        <button onclick="clearCanvas()" class="button-tools">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z" />
                <path
                    d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466" />
            </svg>
        </button>
        <button onclick="downloadCanvas()" class="button-tools">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-download"
                viewBox="0 0 16 16">
                <path
                    d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                <path
                    d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
            </svg>
        </button>
        <!-- <input type="file" id="imageLoader" accept="image/*"> -->
    </div>
    <script src="{{ url_for('static', filename='js/game/menu-drawing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/game/drawing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/animation.js') }}"></script>
    
</body>

</html>