<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon_io/favicon.ico') }}" type="image/x-icon">


  <link
    href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <title>NeuroSafeZone</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- CSS Files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animated.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.css') }}">
</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <!-- <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div> -->
  <!-- script sound  -->
  <script>
    var audio = new Audio('{{ sound_file_url }}');

    window.onload = function () {
      console.log("Page loaded. Playing audio...");
      audio.play().then(function () {
        console.log("Audio played successfully!");
      }).catch(function (error) {
        console.error("Error playing audio:", error);
      });
    };
  </script>
  <script>

    // สร้างตัวแปรเพื่อตรวจสอบว่าเสียงกำลังเล่นหรือไม่
    var isPlaying = false;

    // สร้างฟังก์ชันเล่นเสียง
    function playSound(line) {
      // ตรวจสอบว่าเสียงกำลังเล่นหรือไม่
      if (!isPlaying) {
        isPlaying = true;
        var audio = new Audio(line);

        audio.pause();
        audio.currentTime = 0;
        audio.play();

        audio.onended = function () {
          isPlaying = false;
        };
      }
    }
  </script>
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <a href="#top" class="logo">
              <h4><img src="{{ url_for('static', filename='img/favicon_io/android-chrome-192x192.png') }}"
                  alt="">euroSafeZone</h4>
            </a>
            </form>
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">หน้าหลัก</a></li>
              <li class="scroll-to-section"><a href="#features_2">วิธีการใช้งาน</a></li>
              <li class="scroll-to-section"><a href="#about">เรื่องน่ารู้</a></li>
              <li class="scroll-to-section"><a href="#benefit">ประโยชน์</a></li>
              <!-- <li class="scroll-to-section">
                <form action="/fitness" method="post"><button type="submit" style="background-color: transparent; border: none;">
                    <a>บททดสอบสมอง</a></button>
                </form>
              </li> -->

              <li class="scroll-to-section">
                <div class="main-blue-button">
                  <form action="/fitness" method="post">
                    <button type="submit" class="button-start"><a>เริ่มการออกกำลังกาย</a></button>
                  </form>

                </div>

              </li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>

          </nav>
        </div>
      </div>
    </div>
  </header>


  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <h4 class="info-stat">เว็บไซต์การบริหารสมองป้องกันอัลไซเมอร์<br>ด้วยเทคโนโลยีการ Detect (ตรวจจับ)
                    การเคลื่อนไหวของมือ</h4>
                  <div class="col-lg-12">
                    <h2>เส้นทางสู่สุขภาพสมองที่แข็งแรง</h2>
                  </div>
                  <div class="col-lg-12">
                    <div class="main-green-button scroll-to-section">
                      <form action="/fitness" method="post">
                        <button type="submit" class="button-start"><a>เริ่มการออกกำลังกาย</a></button>
                      </form>
                    </div>
                    <div class="container" class="test-btn">
                      <form action="/game_counter" method="post">
                        <button type="submit" class="mx-auto btn btn-outline"
                          style="font-size: 20px;"><a>เข้าร่วมแบบทดสอบ</a></button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{{ url_for('static', filename='img/phone_banner_2.png') }}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br>

  <div id="features_2">
    <h1 class="center_1 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">วิธีการใช้งานแอปพลิเคชัน</h1>
    <br><br><br>
  </div>
  <div class="features section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="features-content">
            <div class="row">
              <div class="col-lg-3">
                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="first-number number">
                    <h6>01</h6>
                  </div>
                  <div class="icon"></div>
                  <h4 style="font-size: 25px;">คลิกปุ่ม<br>เริ่มออกกำลังกาย</h4>
                  <div class="line-dec"></div>
                  <h4 style="font-weight: 300;">คลิกปุ่มเริ่มออกกำลังกายที่อยู่ข้างบนเพื่อเข้าสู่ห้องออกกำลังกาย</h4>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="second-number number">
                    <h6>02</h6>
                  </div>
                  <div class="icon"></div>
                  <h4 style="font-size: 25px;">คลิกปุ่ม<br>เริ่มออกกำลังกาย</h4>
                  <div class="line-dec"></div>
                  <h4 style="font-weight: 300;">คลิกปุ่มเริ่มออกกำลังกายที่อยู่ข้างบนเพื่อเข้าสู่ห้องออกกำลังกาย</h4>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="third-number number">
                    <h6>03</h6>
                  </div>
                  <div class="icon"></div>
                  <h4 style="font-size: 25px;">คลิกปุ่มเริ่ม<br>เพื่อออกกำลังกาย</h4>
                  <div class="line-dec"></div>
                  <h4 style="font-weight: 300;">คลิกปุ่มเริ่มออกกำลังกายสีเขียว เพื่อเริ่มการออกกำลังกาย</h4>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item second-feature last-features-item wow fadeInUp" data-wow-duration="1s"
                  data-wow-delay="0.6s">
                  <div class="fourth-number number">
                    <h6>04</h6>
                  </div>
                  <div class="icon"></div>
                  <h4 style="font-size: 25px;">คลิกปุ่ม<br>เริ่มออกกำลังกาย</h4>
                  <div class="line-dec"></div>
                  <h4 style="font-weight: 300;">คลิกปุ่มเริ่มออกกำลังกายที่อยู่ข้างบนเพื่อเริ่มออกกำลังกายการบริหาร</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <img src="{{ url_for('static', filename='img/banner_info.png') }}" alt="">
          </div>
        </div>
        <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="section-heading">
            <h1>สมองเราต้องการออกกำลังกาย!</h1>
          </div>

          <p class="info-banner"><a href="https://www.bumrungrad.com/th/health-blog/september-2018/alzheimer-disease"
              target="_parent">
              โรคอัลไซเมอร์</a> เมื่อเข้าสู่วัยสูงอายุ, การออกกำลังกายประจำวันเป็นวิธีที่ดีในการป้องกันโรคสมองเสื่อม
            เล่นกีฬาหรือเดินเล่นช่วยกระตุ้นสมองและลดความเครียด รักษาการนอนหลับที่ดี, รับประทานอาหารที่เหมาะสม
            และหลีกเลี่ยงการดื่มแอลกอฮอล์
            เพื่อสุขภาพสมองที่แข็งแกร่งและมีคุณภาพ!</p>
          <div class="main-green-button-2"><a class="info-btn"
              href="https://www.paolohospital.com/th-TH/phahol/Article/Details/%E0%B8%9A%E0%B8%97%E0%B8%84%E0%B8%A7%E0%B8%B2%E0%B8%A1-%E0%B8%A3%E0%B8%B0%E0%B8%9A%E0%B8%9A%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%AA%E0%B8%B2%E0%B8%97%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%AA%E0%B8%A1%E0%B8%AD%E0%B8%87/%E0%B9%82%E0%B8%A3%E0%B8%84%E0%B8%AD%E0%B8%B1%E0%B8%A5%E0%B9%84%E0%B8%8B%E0%B9%80%E0%B8%A1%E0%B8%AD%E0%B8%A3%E0%B9%8C">
              อ่านเพิ่มเติม</a>
            <a class="speech-btn" onclick="playSound('../static/sound/info_sound.wav')">
              <h4>อ่านออกเสียง <svg xmlns="http://www.w3.org/2000/svg" id="sound-icon" width="40" height="40"
                  fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                  <path
                    d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z" />
                  <path
                    d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z" />
                  <path
                    d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06" />
                </svg></h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="benefit" class="our-services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>ประโยชน์ของการบริหารสมองด้วยมือ<br><span>เพิ่มสมรรถนะ</span><em>ทางสมองและสุขภาพ</em></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{{ url_for('static', filename='img/benefit_2_1.png') }}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>เพิ่มประสิทธิภาพทางสมอง</h4>
                  <p>การใช้มือในกิจกรรมที่ต้องใช้ความคิด, การจดจำ,
                    และการแก้ปัญหาสามารถกระตุ้นและเพิ่มประสิทธิภาพทางสมอง.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{{ url_for('static', filename='img/benefit_2_2.png') }}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>ลดความเครียดและภาวะซึมเศร้า</h4>
                  <p>การทำกิจกรรมที่ต้องใช้มือสามารถช่วยลดระดับความเครียดและเสริมสร้างความสุขในการทำกิจกรรม.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{{ url_for('static', filename='img/benefit_2_3.png') }}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>พัฒนาการประสาน</h4>
                  <p>การใช้มือในกิจกรรมทางสมองช่วยส่งเสริมการประสานงานระหว่างสมองซ้ายและสมองขวา.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{{ url_for('static', filename='img/benefit_2_4.png') }}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>ส่งเสริมการเคลื่อนไหว</h4>
                  <p>การทำกิจกรรมที่ต้องใช้มือสามารถช่วยปรับปรุงความคล่องตัวและความสามารถในการควบคุมการเคลื่อนไหว.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.7s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{{ url_for('static', filename='img/benefit_2_5.png') }}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>เพิ่มความสามารถในการจดจำ</h4>
                  <p>การทำกิจกรรมที่ต้องใช้ความจดจำและการวิเคราะห์สถานการณ์สามารถช่วยในการเพิ่มความสามารถในการจดจำ.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.8s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{{ url_for('static', filename='img/benefit_2_6.png') }}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>ลดความเสี่ยงของโรคอัลไซเมอร์</h4>
                  <p> การทำกิจกรรมที่ใช้สมองสามารถช่วยลดความเสี่ยงของโรคอัลไซเมอร์และภาวะสมองเสื่อม.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                  <h3 class="" style="color: #789461;">อุทยานสมอง</h3>
                  <h2>เกมฝึกสมองด้วยความสนุก</h2>
                  <h2>สู่สมองที่แข็งแกร่ง</h2>
                </div>
              </div>
              <div class="col-lg-12 mt-4">
                <div id="imageCarousel" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{{ url_for('static', filename='img/banner_game_2.png') }}"
                        class="d-block mx-auto game-img" alt="Image 1" data-image-id="1">
                    </div>
                    <div class="carousel-item">
                      <img src="{{ url_for('static', filename='img/banner_count_game.png') }}"
                        class="d-block mx-auto game-img" alt="Image 2" data-image-id="2">
                    </div>
                    <!-- Add more carousel items with additional images -->
                  </div>
                  <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                    <span class="sr-only"></span>
                  </a>
                  <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="false"></span>
                    <span class="sr-only"></span>
                  </a>
                </div>
              </div>
              <form id="contactForm" action="/game_counter" method="post">
                <div class="col-lg-4 offset-lg-4">
                  <!-- <button type="submit" class="main-button">Send Message Now</button> -->
                </div>
              </form>
              <form action="/game_counter" method="post">
                <button type="submit" class="button-start"><a>เข้าร่วมเกม</a></button>
              </form>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>



  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <br>ข้อมูลในเว็บไซต์โดย <a rel="nofollow" href="www.paolohospital.com" title="Paolo hospital">โรงพยาบาลเปาโล
          </a> <a rel="nofollow" href="https://www.bumrungrad.com/th"
            title="Bumrungrad hospital">โรงพยาบาลบำรุงราษฎร์</a></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/fullscreen.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/animation.js') }}"></script>
  <script src="{{ url_for('static', filename='js/imagesloaded.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- เปลี่ยนทุกอย่างให้เป็น url for และ ทำการย้ายพวก bootstrap ให้เหมือนใน static-->
  <!-- แก้บัคเลเอ้าไม่ตรง -->


</body>

</html>