<!DOCTYPE html>
<html lang="en">

<head>

     <meta charset="UTF-8">

     <title>อุทยานสมอง</title>


     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/animated.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/model.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/infomation.css') }}">

</head>

<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <div class="container">
          <div class="row">
               <section id="home" class="parallax-section">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <div class="home-wrapper">
                              <h3 class="wow fadeInUp" data-wow-delay="0.4s">NEUROSAFEZONE</h3>
                              <h1 class="wow fadeInUp" data-wow-delay="0.6s">
                                   อุทยานสมอง<br>เปิดประตูเข้าสู่ความเข้าใจในโลกของอัลไซเมอร์</h1>
                              <a href="#about" class="wow fadeInUp smoothScroll arrow-btn" data-wow-delay="1s"><i
                                        class="fa fa-angle-double-down"></i></a>
                         </div>
                    </div>
               </section>
          </div>
     </div>


     <section id="about" class="parallax-section">
          <div class="container">
               <div class="col-md-15 col-sm-12">
                    <div class="about-thumb">
                         <div class="wow fadeInUp section-title" data-wow-delay="0.6s">
                              <h2>
                                   <strong>
                                        โรคอัลไซเมอร์คืออะไร?
                                   </strong>
                              </h2>
                         </div>
                         <div class="wow fadeInUp" data-wow-delay="0.8s">
                              <p style="font-size: 25px;line-height: 40px;">
                              <ul>
                                   <li><strong class="title-range">โรคสมองเสื่อมอัลไซเมอร์ (Alzheimer):</strong>
                                        เป็นโรคที่เกิดจากความเสื่อมของสมอง
                                        เนื่องจากการสูญเสียเซลล์สมองและการทำลายโครงสร้างที่สำคัญ
                                        ซึ่งมีผลกระทบต่อความจำและทักษะในการใช้ความคิด เป็นหลัก</li>
                                   <li><strong class="title-range">อาการเริ่มแรกอย่างช้าๆ:</strong>
                                        อาการเริ่มต้นของโรคนี้จะเกิดขึ้นอย่างช้าๆ คือค่อยเป็นค่อยไป
                                        ผู้ป่วยอาจมีปัญหาในการจดจำและการวิเคราะห์สิ่งต่างๆ
                                        โดยอาจเริ่มจากการลืมเรื่องเล็กๆ น้อยๆ และค่อยๆ
                                        กลายเป็นปัญหาในการทำกิจวัตรประจำวันที่ง่ายๆ เช่น
                                        การใส่เสื้อผ้าหรือการบิดลูกบิดประตู</li>
                              </ul>

                              </p>


                         </div>
                    </div>
               </div>

          </div>
          </div>
     </section>
     <section id="about" class="parallax-section">
          <div class="container">
               <div class="col-md-15 col-sm-12">
                    <div class="about-thumb">
                         <div class="wow fadeInUp section-title" data-wow-delay="0.6s">
                              <h2>
                                   <strong>
                                        สาเหตุอาการอัลไซเมอร์
                                   </strong>
                              </h2>
                         </div>
                         <div class="wow fadeInUp" data-wow-delay="0.8s">
                              <p style="font-size: 25px;line-height: 40px;">
                                   &nbsp;&nbsp;&nbsp;&nbsp;โรคอัลไซเมอร์เริ่มต้นด้วยความลืมและสับสนเล็กน้อย
                                   แต่มันเร็วมาก
                                   เริ่มจากอารมณ์เสียและเครียด ส่งผลให้ผู้ป่วยมีพฤติกรรมที่เปลี่ยนแปลง
                                   สุดท้ายเกิดความไม่สามารถในการดูแลตัวเองและเสี่ยงต่อภาวะแทรกซ้อนที่อาจเป็นอันตรายถึงชีวิต
                                   การดูแลในระยะสุดท้ายเป็นที่ท้าทายมาก
                                   เนื่องจากต้องให้การช่วยเหลือตลอดเวลาในกิจวัตรประจำวัน</p>
                              <p style="font-size: 25px;line-height: 40px;">
                                   อาการทั่วไปของโรคอัลไซเมอร์อาจแบ่งคร่าวๆ ได้เป็นสามระยะ
                                   ได้แก่</p>
                              <p style="font-size: 25px;line-height: 40px;">
                              <h2 class="title-range">ระยะแรก:</h2>
                              <ul>
                                   <li>ความจำถดถอยและการสับสน</li>
                                   <li>การถามและพูดเรื่องเดิมซ้ำๆ</li>
                                   <li>การสับสนเกี่ยวกับทิศทางและสถานที่</li>
                                   <li>เริ่มมีความเครียดและอารมณ์เสีย</li>
                              </ul>

                              <h2 class="title-range">ระยะกลาง:</h2>
                              <ul>
                                   <li>ความจำแย่ลงเพิ่มขึ้น</li>
                                   <li>การเดินออกไปโดยไม่มีจุดหมาย</li>
                                   <li>พฤติกรรมเปลี่ยนแปลง เช่น การเปลี่ยนแปลงของอารมณ์ เห็นแก่ตัว</li>
                                   <li>การพูดและพฤติกรรมที่ไม่เหมาะสม เช่น การกลายเป็นคนที่ระแวดระวังหรือโกรธง่ายขึ้น
                                   </li>
                              </ul>

                              <h2 class="title-range">ระยะสุดท้าย:</h2>
                              <ul>
                                   <li>ความไม่สามารถในการปฏิบัติตัวเองและชีวิตประจำวัน</li>
                                   <li>สุขภาพทรุดโทรมและการเคลื่อนไหวลดลง</li>
                                   <li>การสูญเสียความสามารถในการควบคุมการกลั้น และการทำงานของระบบประสาท</li>
                                   <li>ความเสี่ยงต่อภาวะแทรกซ้อนที่อาจเป็นอันตรายถึงชีวิต</li>
                                   <li>การพึ่งพาผู้อื่นในกิจวัตรประจำวันและการดูแลที่ซับซ้อนขึ้น</li>
                              </ul>
                              </p>

                         </div>
                    </div>
               </div>

          </div>
          </div>
     </section>
     <section id="about" class="parallax-section">
          <div class="container">
               <div class="col-md-15 col-sm-12">
                    <div class="about-thumb">
                         <div class="wow fadeInUp section-title" data-wow-delay="0.6s">
                              <h2>
                                   <strong>
                                        โรคอัลไซเมอร์ ส่งผลกระทบต่อคุณภาพชีวิตผู้ป่วยและผู้ใกล้ชิดอย่างไร
                                   </strong>
                              </h2>
                         </div>
                         <div class="wow fadeInUp" data-wow-delay="0.8s">
                              <p style="font-size: 25px;line-height: 40px;">
                              <ul>
                                   <li>
                                        <h2 class="title-range">การเคลื่อนไหว</h2>
                                        <p>สมองควบคุมการเคลื่อนไหวและอวัยวะต่างๆ จะเสื่อมลง เช่น
                                             การเดินและสมดุลของร่างกายลดลง</p>
                                   </li>

                                   <li>
                                        <h2 class="title-range">ภาษา</h2>
                                        <p>ความสามารถในการสื่อสารลดลง
                                             ไม่สามารถสื่อสารเป็นประโยคได้และมีความยากลำบากในการนึกคำศัพท์</p>
                                   </li>

                                   <li>
                                        <h2 class="title-range">สมาธิและความสนใจ</h2>
                                        <p>สมาธิสั้นลงและมีปัญหาในการทำกิจกรรมให้สมบูรณ์</p>
                                   </li>

                                   <li>
                                        <h2 class="title-range">การตีความ</h2>
                                        <p>เกิดความสับสนในการตีความสิ่งต่างๆ
                                             และมีความเชื่อผิดว่าผู้อื่นอาจมีความตั้งใจทำร้าย</p>
                                   </li>

                                   <li>
                                        <h2 class="title-range">การตัดสินใจ</h2>
                                        <p>ขาดความสามารถในการตัดสินใจทำให้มีความยากลำบากในการดำเนินกิจกรรมประจำวัน</p>
                                   </li>

                                   <li>
                                        <h2 class="title-range">การเข้าใจในนามธรรม</h2>
                                        <p>มีความสับสนในเรื่องของเวลาและคำพูด</p>
                                   </li>

                                   <li>
                                        <h2 class="title-range">ผลกระทบต่อผู้ใกล้ชิด</h2>
                                        <p>ความเครียด ความซึมเศร้า และปัญหาทางสุขภาพอื่นๆ</p>
                                   </li>
                              </ul>
                              </p>
                         </div>
                    </div>
               </div>

          </div>
          </div>
     </section>

     <section id="work" class="parallax-section">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <!-- SECTION TITLE -->
                         <div class="wow fadeInUp section-title" data-wow-delay="0.2s">
                              <h2>สมองส่วนไหนมีส่วนกระทบกับอัลไซเมอร์ ?</h2>
                              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, pariatur! Magni
                                   aspernatur earum ut, quas repellat natus eum aliquid quaerat dolorum voluptatibus
                                   placeat voluptatum laborum similique necessitatibus aliquam nam molestias?</p>
                         </div>
                    </div>
                    <div class="model-3d">
                        <model-viewer src="{{ url_for('static', filename='model/brain.gltf') }}" shadow-intensity="0" camera-controls auto-rotate ar>
                        </model-viewer>
                    </div>

               </div>
     </section>



     <section class="parallax-section">
          <div class="container">
               <div class="row">
                
               </div>
     </section>


     <footer id="footer" class="parallax-section">
          <div class="container">
               <p>ข้อมูลจาก </p>
               <a style="font-size: medium;"
                    href="https://www.nakornthon.com/article/detail/%E0%B9%82%E0%B8%A3%E0%B8%84%E0%B8%AA%E0%B8%A1%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%AA%E0%B8%B7%E0%B9%88%E0%B8%AD%E0%B8%A1%E0%B8%A3%E0%B8%B9%E0%B9%89%E0%B8%97%E0%B8%B1%E0%B8%99%E0%B8%9B%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%81%E0%B8%B1%E0%B8%99%E0%B9%84%E0%B8%94%E0%B9%89">โรงพยาบาลนครธน</a>
          </div>
     </footer>

     <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
     <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
     <script src="{{ url_for('static', filename='js/infomation.js') }}"></script>
     <script src="{{ url_for('static', filename='js/animation.js') }}"></script>
     <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.1.3/webcomponents-loader.js"></script>
     <script src="https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js"></script>
     <script src="https://unpkg.com/resize-observer-polyfill@1.5.0/dist/ResizeObserver.js"></script>
     <script src="https://unpkg.com/focus-visible@5.0.2/dist/focus-visible.js" defer></script>
     <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js">
    </script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js">
    </script>

</body>

</html>