<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Memory Matrix</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/matrix.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    
</head>
<body>
   <div class="wrapper">
       <div id="options" class="options">
           <div class="title">Choose the Board</div>
       <label class="radio-container">
           ง่าย
            <input type="radio" name="tiles-number" value="9">
            <span class="checkmark"></span>
       </label>
       <label class="radio-container">
            ปานกลาง
            <input type="radio" name="tiles-number" checked="checked" value="16">
            <span class="checkmark"></span>
        </label>
        <label class="radio-container">
            ยาก
            <input  type="radio" name="tiles-number" value="25">
            <span class="checkmark"></span>
        </label>
        <button id="show-board" class="btn middle" onclick="options()" >เข้าสู่เกม</button>
    </div> 
    <div id="board" class="slide middle">  
    <div class="matrix">
      <div id="start" class="popup start"><p onclick="matrix()">เริ่มเกม</p></div>
      
        <div id="end" class="popup end">
            <div class="end-content">
                <p id="lose" class="end-msg">แพ้แล้ว TT</p>
                <p id="win" class="end-msg">คุณชนะ !</p>
                <i class="fas fa-redo button" onclick="continu()"></i>
            </div>
       </div>
    </div>
    <div class="matrix-info">
        <div id="score" class="score">score : 0</div>
        <div id="tiles" class="tiles"></div>
    </div>
    <button class="btn h-float-left" onclick="removeEl()" >กลับไปหน้าหลัก</button>
</div> 
    </div>
    
    <audio id="card-effect" src="sounds/button_click_type.ogg"></audio>
    <script src="{{ url_for('static', filename='js/game/matrix.js') }}"></script>
</body>
</html>
