<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    
    <title>เกมซ่อนสีอักษร</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/stroop.css') }}">
</head>

<body>
    <div class="hover-area"></div> 
    <script>
        var audio = new Audio('{{ sound_file_url }}');
        audio.loop = true;
        audio.volume = 0.3;
        window.onload = function () {
          console.log("Page loaded. Playing audio...");
          audio.play().then(function () {
            console.log("Audio played successfully!");
          }).catch(function (error) {
            console.error("Error playing audio:", error);
          });
        };
      </script>
    <div class="game">
        <div class="border-center">
            <h2 class="title">เกมซ่อนสีอักษร</h2>
            <button id="startButton" onclick="startGame()"><span class="shadow"></span>
                <span class="edge"></span>
                <span class="front">
                    เริ่มเกม
                </span></button>
                <div class="box-tutorial" id="box-tutorial">
                    <a class="button" href="#popup1" id="popup-btn" >วิธีการเล่นเกม</a>
                </div>
                <div id="popup1" class="overlay">
                    <div class="popup">
                        <h2>วิธีการเล่นเกม</h2>
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            <img src="{{ url_for('static', filename='img/tutorial/stroop-t.png') }}" alt="" style="width: 600px;">
                            <img src="{{ url_for('static', filename='img/tutorial/stroop-t2.png') }}" alt="" style="width: 600px;" >
                        </div>
                    </div>
                </div>
                <div class="box">
                    <a class="button" id="restart-btn" onclick="restartGame()" >ย้อนกลับ</a>
                </div>
            <div id="container">
                <div id="time"></div>
                <div id="text"></div>
                <div id="text-en" style="display: none;"></div>
                <button onclick="checkAnswer('Correct')" class="correct">ถูก</button>
                <button onclick="checkAnswer('Incorrect')" class="incorrect">ผิด</button>
            </div>
            <div id="score">
                <h3>คะแนน</h3>
                <p>จำนวนคำถามที่ตอบ: <span id="total"></span></p>
                <p>จำนวนข้อที่ตอบถูก: <span id="correct"></span></p>
                <p>คิดเป็นเปอร์เซ็นได้ทั้งหมด => <span id="percentage"></span>%</p>
                <button onclick="restartGame()" class="correct">เริ่มใหม่</button>
                <a href="/">
                    <h3>
                        กลับหน้าหลัก
                    </h3>
                </a>
            
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/game/stroop.js') }}"></script>
</body>

</html>