<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Detection</title>
</head>

<body>
    <h1>Hand Detection with Mediapipe</h1>
    <div>
        <img src="{{ url_for('video_feed') }}" width="720" height="480">
    </div>
    <audio id="bellSound" src="{{ url_for('static', filename='sound/bell.mp3') }}"></audio>
    <audio id="duckSound" src="{{ url_for('static', filename='sound/duck.mp3') }}"></audio>
    <audio id="carSound" src="{{ url_for('static', filename='sound/car.mp3') }}"></audio>
    <script>
        function checkFingerCount() {
            fetch('/finger_count')
                .then(response => response.json())
                .then(data => {
                    playSoundBasedOnCount(data.count);
                })
                .catch(error => console.error('Error:', error));
        }

        function playSoundBasedOnCount(count) {
            var bellSound = document.getElementById('bellSound');
            var duckSound = document.getElementById('duckSound');
            var carSound = document.getElementById('carSound');

            // หยุดเสียงที่เล่นอยู่ก่อนเพื่อป้องกันการเล่นซ้ำกัน
            bellSound.pause();
            bellSound.currentTime = 0;
            duckSound.pause();
            duckSound.currentTime = 0;
            carSound.pause();
            carSound.currentTime = 0;

            if (count === 1) {
                bellSound.play();
            } else if (count === 2) {
                duckSound.play();
            } else if (count === 3) {
                carSound.play();
            }
        }

        setInterval(checkFingerCount, 1000);

    </script>
</body>

</html>